.score__board {
  display: flex;
  width: 15rem;
  /* height: 90%; */
  background-color: var(--primary-color);
  margin-right: 5rem;
  border-radius: 0.5rem;
  justify-content: center;
  gap: 1rem;
  font-family: "Josefin Sans", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
}

.player1__div,
.player2__div {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 6.5rem;
  padding: 0.1rem;
}
